CalculadoraJSFWS/web/WEB-INF/wsdl/localhost_8080/CalculadoraWebService/CalculadoraWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices.CalculadoraFSFWS.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices.CalculadoraFSFWS.com/">

<xs:element name="cos" type="tns:cos"/>

<xs:element name="cosResponse" type="tns:cosResponse"/>

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="resta" type="tns:resta"/>

<xs:element name="restaResponse" type="tns:restaResponse"/>

<xs:element name="sin" type="tns:sin"/>

<xs:element name="sinResponse" type="tns:sinResponse"/>

<xs:element name="sumar" type="tns:sumar"/>

<xs:element name="sumarResponse" type="tns:sumarResponse"/>

<xs:element name="tan" type="tns:tan"/>

<xs:element name="tanResponse" type="tns:tanResponse"/>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
<xs:element name="numeroD" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
<xs:element name="numeroD" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sin">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sinResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cos">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resta">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
<xs:element name="numeroD" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tan">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tanResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="numeroU" type="xs:double"/>
<xs:element name="numeroD" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>