CalculadoraJSFWS/web/WEB-INF/wsdl/localhost_8080/CalculadoraWebService/CalculadoraWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices.CalculadoraFSFWS.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices.CalculadoraFSFWS.com/" name="CalculadoraWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices.CalculadoraFSFWS.com/" schemaLocation="http://localhost:8080/CalculadoraWebService/CalculadoraWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sin">
<part name="parameters" element="tns:sin"/>
</message>
<message name="sinResponse">
<part name="parameters" element="tns:sinResponse"/>
</message>
<message name="cos">
<part name="parameters" element="tns:cos"/>
</message>
<message name="cosResponse">
<part name="parameters" element="tns:cosResponse"/>
</message>
<message name="tan">
<part name="parameters" element="tns:tan"/>
</message>
<message name="tanResponse">
<part name="parameters" element="tns:tanResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="CalculadoraWebService">
<operation name="sin">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/sinRequest" message="tns:sin"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/sinResponse" message="tns:sinResponse"/>
</operation>
<operation name="cos">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/cosRequest" message="tns:cos"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/cosResponse" message="tns:cosResponse"/>
</operation>
<operation name="tan">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/tanRequest" message="tns:tan"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/tanResponse" message="tns:tanResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/restaRequest" message="tns:resta"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://WebServices.CalculadoraFSFWS.com/CalculadoraWebService/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="CalculadoraWebServicePortBinding" type="tns:CalculadoraWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraWebService">
<port name="CalculadoraWebServicePort" binding="tns:CalculadoraWebServicePortBinding">
<soap:address location="http://localhost:8080/CalculadoraWebService/CalculadoraWebService"/>
</port>
</service>
</definitions>